<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin create group</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            margin: 0 0 0 0;
        }

        header {
            height: 150px;
            background-color: #33adff;
            display: flex;
        }

        #logo {
            margin-left: 10px;
            font-size: 120px;
            text-decoration: none;
            color: white;
        }

        nav {
            margin-left: 30%;
            display: flex;
            align-items: center;
        }

        .options {
            font-size: 30px;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            color: white;
        }


        footer {
            height: 150px;
            background-color: #33adff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main {
            align-content: center;
            height: 100%;
            margin: 100px 0 100px 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0 100px 0;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
            border-style: solid;
            border-color: #cccccc;
        }

        form {
            box-shadow: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }


        .input {
            margin: 10px 0 20px 0;
            font-size: 15px;
        }

        #date_div {
            display: inline;
        }

        #time_div {
            display: inline;
        }

        #course_div {
            display: inline;
        }

        #location_div {
            display: inline;
        }

        button {
            height: 40px;
            width: 70px;
            background-color: #33adff;
            border-radius: 5%;
            color: white;
            border-style: none;
        }

        a {
            text-decoration: none;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 50px;
        }

        p {
            margin: 20px 0 20px 0;
            font-size: 20px;
        }

        .error {
            background-color: #ff3333;
            width: 70%;
            text-align: center;
            margin: 15px 0 15px 0;
        }

        .contact {
            display: flex;
            flex-direction: row;
        }

        #contact_us {
            color: white;
            margin: 0 0 0 0;
        }

        .contact_url {
            color: white;
            margin-left: 10px;
            font-size: 20px;
        }

        a:hover {
            opacity: 0.8;
        }

        .options:hover {
            background-color: #0099ff;
        }

        .go_back {
            text-decoration: none;
            color: #33adff;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<header>
    <a id="logo" th:href="@{/user/profile/admin}">UNI</a>
    <nav>
        <a class="options" th:href="@{/user/changePassword}">Change password</a>
        <a class="options" th:href="@{/course/admin}">Courses</a>
        <a class="options" th:href="@{/semester/admin}">Semesters</a>
        <a class="options" th:href="@{/student/admin}">Students</a>
        <a class="options" th:href="@{/user/admin/users}">Users</a>
        <a class="options" th:href="@{/location/admin}">Locations</a>
        <a class="options" th:href="@{/log/admin/export}">Export</a>
        <a class="options" th:href="@{/group/admin}">Groups</a>
        <a class="options" th:href="@{/user/logout}">Logout</a>
    </nav>
</header>
<main>
    <div class="container">
        <div class="form">
            <form th:action="@{/group/admin/create}" th:object="${group}" method="post">
                <h1>Create group</h1>
                <input class="input" type="text" th:field="*{code}" placeholder="Code" required>
                <input class="input" type="text" th:field="*{name}" placeholder="Name" required>
                <button type="submit">Create</button>
            </form>
            <div class="error" th:if="${error != null}">
                <span th:text="${error}"></span>
            </div>
            <a th:href="@{/group/admin}" class="go_back">Go back</a>
        </div>
    </div>
</main>
<footer>
    <div class="contact">
        <p id="contact_us">Contact us: </p>
        <a class="contact_url" href="mailto:fous363@gmail.com">fous363@gmail.com</a>
    </div>
</footer>
</body>
</html>