<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin profile</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            margin: 0 0 0 0;
        }

        header {
            height: 150px;
            background-color: #33adff;
            display: flex;
        }

        #logo {
            margin-left: 10px;
            font-size: 120px;
            text-decoration: none;
            color: white;
        }

        nav {
            margin-left: 30%;
            display: flex;
            align-items: center;
        }

        .options {
            font-size: 30px;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            color: white;
        }


        footer {
            height: 150px;
            background-color: #33adff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main {
            align-content: center;
            height: 100%;
            margin: 100px 0 100px 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0 100px 0;
        }

        a {
            text-decoration: none;
        }

        h1 {
            border: 1px solid gray;
            padding: 50px 50px 50px 50px;
            font-size: 60px;
            margin: 50px 0 50px 0;
        }

        p {
            margin: 20px 0 20px 0;
            font-size: 20px;
        }

        .contact {
            display: flex;
            flex-direction: row;
        }

        #contact_us {
            color: white;
            margin: 0 0 0 0;
        }

        .contact_url {
            color: white;
            margin-left: 10px;
            font-size: 20px;
        }

        a:hover {
            opacity: 0.8;
        }

        .options:hover {
            background-color: #0099ff;
        }
    </style>
</head>
<body>
    <header>
        <a id="logo" th:href="@{/user/profile/admin}">UNI</a>
        <nav>
            <a class="options" th:href="@{/user/changePassword}">Change password</a>
            <a class="options" th:href="@{/course/admin}">Courses</a>
            <a class="options" th:href="@{/semester/admin}">Semesters</a>
            <a class="options" th:href="@{/student/admin}">Students</a>
            <a class="options" th:href="@{/user/admin/users}">Users</a>
            <a class="options" th:href="@{/location/admin}">Locations</a>
            <a class="options" th:href="@{/log/admin/export}">Export</a>
            <a class="options" th:href="@{/group/admin}">Groups</a>
            <a class="options" th:href="@{/user/logout}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>WELCOME <span th:text="${user.username}"></span></h1>
        </div>
    </main>
    <footer>
        <div class="contact">
            <p id="contact_us">Contact us: </p>
            <a class="contact_url" href="mailto:fous363@gmail.com">fous363@gmail.com</a>
        </div>
    </footer>
</body>
</html>