<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin courses</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            margin: 0 0 0 0;
        }

        header {
            height: 150px;
            background-color: #33adff;
            display: flex;
        }

        #logo {
            margin-left: 10px;
            font-size: 120px;
            text-decoration: none;
            color: white;
        }

        nav {
            margin-left: 30%;
            display: flex;
            align-items: center;
        }

        .options {
            font-size: 30px;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            color: white;
        }


        footer {
            height: 150px;
            background-color: #33adff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main {
            align-content: center;
            height: 100%;
            margin: 100px 0 100px 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0 100px 0;
        }

        .table {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 530px;
            height: 100%;
            border-style: solid;
            border-color: #cccccc;
        }

        table {
            margin-bottom: 50px;
        }

        td {
            border: 1px solid black;
            padding: 10px 10px 0 5px;
        }

        .action {
            border: none;
            padding: 0 0 0 0;
        }

        .action_btn {
            border-radius: 5%;
            background-color: #33adff;
            color: white;
            padding: 5px 10px 7px 5px;
        }

        a {
            text-decoration: none;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 50px;
        }

        .create_btn {
            margin-bottom: 40px;
            color: #33adff;
        }

        p {
            margin: 20px 0 20px 0;
            font-size: 20px;
        }

        .contact {
            display: flex;
            flex-direction: row;
        }

        #contact_us {
            color: white;
            margin: 0 0 0 0;
        }

        .contact_url {
            color: white;
            margin-left: 10px;
            font-size: 20px;
        }

        a:hover {
            opacity: 0.8;
        }

        .options:hover {
            background-color: #0099ff;
        }

        .action_btn:hover {
            opacity: 1;
            background-color: #0099ff;
        }
    </style>
</head>
<body>
    <header>
        <a id="logo" th:href="@{/user/profile/admin}">UNI</a>
        <nav>
            <a class="options" th:href="@{/user/changePassword}">Change password</a>
            <a class="options" th:href="@{/course/admin}">Courses</a>
            <a class="options" th:href="@{/semester/admin}">Semesters</a>
            <a class="options" th:href="@{/student/admin}">Students</a>
            <a class="options" th:href="@{/user/admin/users}">Users</a>
            <a class="options" th:href="@{/location/admin}">Locations</a>
            <a class="options" th:href="@{/log/admin/export}">Export</a>
            <a class="options" th:href="@{/group/admin}">Groups</a>
            <a class="options" th:href="@{/user/logout}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="table">
                <h1>Courses</h1>
                <table>
                    <tr>
                        <td>Code</td>
                        <td>Name</td>
                    </tr>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.code}"></td>
                        <td th:text="${course.name}"></td>
                        <td class="action"><a class="action_btn" th:href="@{'/course/admin/delete/' + ${course.code}}">DELETE</a></td>
                        <td class="action"><a class="action_btn" th:href="@{'/course/admin/update/' + ${course.code}}">UPDATE</a></td>
                    </tr>
                </table>
                <a class="create_btn" th:href="@{/course/admin/create}">Create new course</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="contact">
            <p id="contact_us">Contact us: </p>
            <a class="contact_url" href="mailto:fous363@gmail.com">fous363@gmail.com</a>
        </div>
    </footer>
</body>
</html>