<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer profile</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            margin: 0 0 0 0;
        }

        header {
            height: 150px;
            background-color: #33adff;
            display: flex;
        }

        #logo {
            margin-left: 10px;
            font-size: 120px;
            text-decoration: none;
            color: white;
        }

        nav {
            margin-left: 40%;
            display: flex;
            align-items: center;
        }

        .options {
            font-size: 30px;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            color: white;
        }


        footer {
            height: 150px;
            background-color: #33adff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main {
            align-content: center;
            height: 100%;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0 100px 0;
        }

        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
            border-style: solid;
            border-color: #cccccc;
        }

        a {
            text-decoration: none;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 15px;
        }

        p {
            margin: 20px 0 20px 0;
            font-size: 20px;
        }

        .contact {
            display: flex;
            flex-direction: row;
        }

        #contact_us {
            color: white;
            margin: 0 0 0 0;
        }

        .contact_url {
            color: white;
            margin-left: 10px;
            font-size: 20px;
        }

        a:hover {
            opacity: 0.8;
        }

        .options:hover {
            background-color: #0099ff;
        }
    </style>
</head>
<body>
    <header>
        <a id="logo" th:href="@{/lecturer/profile}">UNI</a>
        <nav>
            <a class="options" th:href="@{/lecturer/profile/update}">Update profile</a>
            <a class="options" th:href="@{/user/changePassword}">Change password</a>
            <a class="options" th:href="@{/schedule/lecturer}">Schedule</a>
            <a class="options" th:href="@{/course/lecturer}">Courses</a>
            <a class="options" th:href="@{/lecturer/students}">Students</a>
            <a class="options" th:href="@{/lecturer/groups}">Groups</a>
            <a class="options" th:href="@{/user/logout}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="profile">
                <h1>Profile</h1>
                <p>Full name: <span th:text="${lecturer.fio}"></span></p>
                <p>Birthday: <span th:text="${lecturer.birthday}"></span></p>
                <p>Phone: <span th:text="${lecturer.phone}"></span></p>
                <p>Address: <span th:text="${lecturer.address}"></span></p>
                <p>Email: <span th:text="${lecturer.email}"></span></p>
                <p>Academic degree: <span th:text="${lecturer.academicDegreeName}"></span></p>
            </div>
        </div>
    </main>
    <footer>
        <div class="contact">
            <p id="contact_us">Contact us: </p>
            <a class="contact_url" href="mailto:fous363@gmail.com">fous363@gmail.com</a>
        </div>
    </footer>
</body>
</html>