<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer profile update</title>
    <style>
        * {
        font-family: 'Roboto', sans-serif;
        margin: 0 0 0 0;
    }

    header {
        height: 150px;
        background-color: #33adff;
        display: flex;
    }

    #logo {
        margin-left: 10px;
        font-size: 120px;
        text-decoration: none;
        color: white;
    }

    nav {
        margin-left: 40%;
        display: flex;
        align-items: center;
    }

    .options {
        font-size: 30px;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        color: white;
    }


    footer {
        height: 150px;
        background-color: #33adff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        align-content: center;
        height: 100%;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0 100px 0;
    }

    form {
        box-shadow: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 500px;
        border-style: solid;
        border-color: #cccccc;
    }

    .input {
        margin: 10px 0 20px 0;
        font-size: 15px;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    p {
        margin: 20px 0 20px 0;
        font-size: 20px;
    }

    button {
        height: 40px;
        width: 70px;
        background-color: #33adff;
        border-radius: 5%;
        color: white;
        border-style: none;
    }


    #academicDegree_div {
        display: inline;
    }

    .contact {
        display: flex;
        flex-direction: row;
    }

    #contact_us {
        color: white;
        margin: 0 0 0 0;
    }

    .contact_url {
        color: white;
        margin-left: 10px;
        font-size: 20px;
    }

    a:hover {
        opacity: 0.8;
    }

    .options:hover {
        background-color: #0099ff;
    }
    </style>
</head>
<body>
    <header>
        <a id="logo" th:href="@{/lecturer/profile}">UNI</a>
        <nav>
            <a class="options" th:href="@{/lecturer/profile/update}">Update profile</a>
            <a class="options" th:href="@{/user/changePassword}">Change password</a>
            <a class="options" th:href="@{/schedule/lecturer}">Schedule</a>
            <a class="options" th:href="@{/course/lecturer}">Courses</a>
            <a class="options" th:href="@{/lecturer/students}">Students</a>
            <a class="options" th:href="@{/lecturer/groups}">Groups</a>
            <a class="options" th:href="@{/user/logout}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form">
                <form th:action="@{/lecturer/profile/update}" th:object="${lecturer}" method="post">
                    <h1>Profile update</h1>
                    <input class="input" type="text" placeholder="Full name" th:field="*{fio}" th:value="*{fio}">
                    <div id="birthday_div">
                        <label for="birthday">Birthday: </label>
                        <input class="input" id="birthday" type="date" th:field="*{birthday}" th:value="*{birthday}">
                    </div>
                    <input class="input" type="text" placeholder="Phone" th:field="*{phone}" th:value="*{phone}">
                    <input class="input" type="text" placeholder="Address" th:field="*{address}" th:value="*{address}">
                    <input class="input" type="text" placeholder="Email" th:field="*{email}" th:value="*{email}">
                    <div id="academicDegree_div">
                        <label for="academicDegree">Academic degree: </label>
                        <select id="academicDegree" class="input"  th:field="*{academicDegreeName}" th:value="*{academicDegreeName}">
                            <option th:each="academicDegree : ${academicDegrees}" th:text="${academicDegree.name}" th:value="${academicDegree.name}"></option>
                        </select>
                    </div>
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="contact">
            <p id="contact_us">Contact us: </p>
            <a class="contact_url" href="mailto:fous363@gmail.com">fous363@gmail.com</a>
        </div>
    </footer>
</body>
</html>