<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer sign up</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        header {
            height: 150px;
        }

        footer {
            height: 150px;
        }

        main {
            align-content: center;
            height: 100%;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
            border-style: solid;
            border-color: #cccccc;
        }

        form {
            box-shadow: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 35px;
            text-align: center;
        }

        .input {
            margin: 10px 0 20px 0;
            font-size: 15px;
        }

        button {
            height: 40px;
            width: 70px;
            background-color: #33adff;
            border-radius: 5%;
            color: white;
            border-style: none;
        }

        #academicDegree_div {
            display: inline;
        }
    </style>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div class="form">
                <form th:action="@{/lecturer/singUp}" th:object="${lecturer}" method="post">
                    <p>Sign up</p>
                    <input class="input" type="text" placeholder="Full name" th:field="*{fio}" required>
                    <div id="birthday_div">
                        <label for="birthday">Birthday: </label>
                        <input class="input" id="birthday" type="date" th:field="*{birthday}" required>
                    </div>
                    <input class="input" type="text" placeholder="Phone" th:field="*{phone}" required>
                    <input class="input" type="text" placeholder="Address" th:field="*{address}" required>
                    <input class="input" type="text" placeholder="Email" th:field="*{email}" required>
                    <div id="academicDegree_div" >
                        <label for="academicDegree">Academic degree: </label>
                        <select id="academicDegree" class="input" th:field="*{academicDegreeName}">
                            <option th:each="academicDegree : ${academicDegrees}" th:text="${academicDegree.name}" th:value="${academicDegree.name}"></option>
                        </select>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>