<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}" href="./static/styles.css">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        header {
            height: 150px;
        }

        footer {
            height: 150px;
        }

        main {
            align-content: center;
            height: 100%;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 400px;
            border-style: solid;
            border-color: #cccccc;
        }

        form {
            box-shadow: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 35px;
            text-align: center;
        }

        .input {
            margin: 20px 0 20px 0;
        }

        button {
            height: 40px;
            width: 70px;
            background-color: #33adff;
            border-radius: 5%;
            color: white;
            border-style: none;
        }

        .error {
            background-color: #ff3333;
            width: 70%;
            text-align: center;
            margin-bottom: 15px;
        }

        #singUp {
            text-decoration: none;
            color: #000;
        }

        #singUp:hover {
            color: #b3b3b3;
        }
    </style>
</head>
<body>
<header>
</header>
<main>
    <div class="container">
            <div class="form">
                <p>Authorization</p>
                <form th:action="@{/user/login}" method="post" th:object="${user}">
                    <input class="input" type="text" th:field="*{username}" placeholder="Username" required>
                    <input class="input" type="password" th:field="*{password}" placeholder="Password" required>
                    <button class="input" type="submit">Login</button>
                </form>
                <div class="error" th:if="${loginError != null}">
                    <span th:text="${loginError}"></span>
                </div>
                <a id="singUp" th:href="@{/user/singUp}">Sing Up</a>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>