<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User sign up</title>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        header {
            height: 150px;
        }

        footer {
            height: 150px;
        }

        main {
            align-content: center;
            height: 100%;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 400px;
            border-style: solid;
            border-color: #cccccc;
        }

        form {
            box-shadow: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 35px;
            text-align: center;
        }

        .input {
            margin: 10px 0 20px 0;
            font-size: 15px;
        }

        #singUpAs {
            margin-top: 10px;
        }

        button {
            height: 40px;
            width: 70px;
            background-color: #33adff;
            border-radius: 5%;
            color: white;
            border-style: none;
        }


        .error {
            background-color: #ff3333;
            width: 70%;
            text-align: center;
            margin-bottom: 15px;
        }

        .go_back {
            margin-top: 15px;
            text-decoration: none;
            color: #33adff;
        }

        .go_back:hover {
            color: #99d6ff;
        }
    </style>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div class="form">
                <form th:action="@{/user/singUp}" th:object="${user}" method="post">
                    <p>Sign up</p>
                    <input class="input" th:field="*{username}" type="text" placeholder="Username" required/>
                    <input class="input" th:field="*{password}" type="password" placeholder="Password" required/>
                    <label for="singUpAs">Sign up as:</label>
                    <select class="input" id="singUpAs" th:field="*{singUpAs}" required>
                        <option th:value="student">Student</option>
                        <option th:value="lecturer">Lecturer</option>
                    </select>
                    <div class="error" th:if="${userSignUpError != null}">
                        <span th:text="${userSignUpError}"></span>
                    </div>
                    <button type="submit">Sing up</button>
                </form>
                <a th:href="@{/}" class="go_back">Go back</a>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>